<h2>New Task</h2>

<form [formGroup]="newTaskForm">
  <mat-form-field class="new-task-full-width" appearance="fill">
    <mat-label>Add your task here</mat-label>
    <input matInput placeholder="[Category] New task title @actor" id="title" type="text" formControlName="title" (keyup.enter)="addToTodoList()"/>
  </mat-form-field>
</form>
<mat-accordion cdkDropList class="todo-list" (cdkDropListDropped)="drop($event)">
  <mat-expansion-panel hideToggle *ngFor="let task of tasks" class="task-box" cdkDrag >
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{ task.title }}
      </mat-panel-title>
      <mat-panel-description>
          <div>{{ task.categorie }}</div>
          <div>{{ task.actor }}</div>
          <div>{{ task.estimate }}</div>      
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p *ngIf="task.description" >Description: {{ task.description }}</p>
  </mat-expansion-panel>
</mat-accordion>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
