
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .formfield-full-width {
    margin-left: 8px;
    width: 100%;
  }
  .formfield-comment {
    height: 230px;
  }

  .todo-list-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .todo-list-archive {    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  .todo-list {
    width: 100%;
    max-width: 100%; 
    /* border: solid 1px #ccc; */
    min-height: 60px;
    height:100%;
    display: block;
    background: white;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .task-box {
    width: 100%;
    padding: 5px 5px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
     display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /*cursor: move;*/
    background: white;
    font-size: 14px;
  }
  
  

  .task-title  {    
    justify-content: left;
    width: 70%;
    
    /*border: solid 1px #ccc; */
  }

  .task-title .mat-button-base {
    /*margin: 8px 8px 8px 0;*/
  }

  .task-category  {  
    text-align: center;
    width: 10%;
    /*border: solid 1px #ccc; */
  }
  .task-actor  {  
    text-align: center;
    width: 10%;
    /*border: solid 1px #ccc; */
  }
  .task-estimate  {  
    text-align: center;
    width: 10%;
    /*border: solid 1px #ccc; */
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .task-box:last-child {
    border: none;
  }
  
  .todo-list.cdk-drop-list-dragging .task-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .todo-list-drag-drop-icon {
    cursor: move;
  }


  .update-task-form {
    min-width: 150px;
    max-width: 300px;
    width: 90%; 
    margin-top: 70px;
    
    /*display: flex;*/
    align-items: center;
    justify-content: center;
  }


  .save-button-icon {
    margin-bottom: 5px;
  }

  .user-actor-button {
    background-color: #ebf2ff;
  }

  .done-format {
    text-decoration: line-through;
    color: rgb(153, 194, 194);
  }

  .archive-format {
    text-decoration: line-through;
    color: rgb(153, 194, 194);
  }
  
  .in-progress-format {
    color: rgb(44, 165, 64);
  }
