<mat-sidenav-container class="todo-list-container">
  <mat-sidenav mode="side" opened position="end" class="todo-list-sidenav" fixedInViewport=true >

    <!-- Update Form on the right -->

    <form [formGroup]="updateTaskForm" class="update-task-form" (ngSubmit)="updateTask()">
      <mat-form-field class="formfield-full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" (keyup.enter)="updateTask()"/>
      </mat-form-field>
      <mat-form-field class="formfield-full-width" appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput  type="text" formControlName="category" (keyup.enter)="updateTask()"/>
      </mat-form-field>
      <mat-form-field class="formfield-full-width" appearance="fill">
        <mat-label>Actor</mat-label>
        <input matInput  type="text" formControlName="actor" (keyup.enter)="updateTask()"/>
      </mat-form-field>
       <mat-form-field appearance="fill" class="formfield-full-width">
        <mat-label>Estimate</mat-label>
        <mat-select (selectionChange)="updateTask()" formControlName="estimate" >
          <mat-option value="">None</mat-option>
          <mat-option value="15m">15m</mat-option>
          <mat-option value="30m">30m</mat-option>
          <mat-option value="1h">1h</mat-option>
          <mat-option value="2h">2h</mat-option>
          <mat-option value="4h">4h</mat-option>
          <mat-option value="8h">8h</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="formfield-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput  formControlName="description" placeholder="Add comments here..." class="formfield-comment"></textarea>
      </mat-form-field>  
      <button mat-stroked-button type="submit"><mat-icon class="save-button-icon">save</mat-icon>Save</button>   
    </form>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <!-- List Part on the left -->
    

    <!-- New task Form -->
    <form [formGroup]="newTaskForm">
      <mat-form-field class="formfield-full-width" appearance="fill">
        <mat-label>Add your task here</mat-label>
        <input matInput placeholder="[Category] New task title @actor" id="title" type="text" formControlName="title" [disabled]="isAllProjectsSelected" (keyup.enter)="addNewTask()"/>
      </mat-form-field> 
    </form>
    <div class="todo-list-archive">
      <button mat-stroked-button (click)="archiveTasks()"><mat-icon>archive</mat-icon><mat-label>Archive</mat-label></button>
      <button mat-stroked-button  class="todo-list-active-tasks"><mat-label>Active tasks = {{ nbActiveTasks }}</mat-label></button>
    </div>


    <!-- List Table -->
    <table cdkDropList class="todo-list" (cdkDropListDropped)="drop($event)">
      <tr *ngFor="let task of tasks" class="task-box" cdkDrag>
          <td><a (click)="changeTaskStatus(task)"><mat-icon  >{{ getIconClassFromStatus(task.status) }}</mat-icon></a></td>
          <td class="task-category"><span [class]="getLineStatusClass(task)">{{ task.category }}</span></td>
          <td class="task-title"><button mat-button (click)="selectTask(task)" ><span [class]="getLineStatusClass(task)">{{ task.title }}</span></button> </td>
          <td class="task-actor"><button mat-flat-button [class]="getActorColorClass(task)"><span [class]="getLineStatusClass(task)">{{ task.actor }}</span></button></td>
          <td class="task-estimate"><span [class]="getLineStatusClass(task)">{{ task.estimate }}</span></td>
      </tr>
    </table>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <h1>Archive</h1>
    <div class="todo-list-archive">
      <button mat-stroked-button (click)="purgeTasks()"><mat-icon>delete_sweep</mat-icon><mat-label>Purge</mat-label></button>
    </div>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <table cdkDropList class="todo-list" (cdkDropListDropped)="drop($event)">
      <tr *ngFor="let task of archivedTasks" class="task-box" cdkDrag>
          <td><a (click)="changeTaskStatus(task)"><mat-icon  >{{ getIconClassFromStatus(task.status) }}</mat-icon></a></td>
          <td class="task-category"><span [class]="getLineStatusClass(task)">{{ task.category }}</span></td>
          <td class="task-title"><button mat-button (click)="selectTask(task)" ><span [class]="getLineStatusClass(task)">{{ task.title }}</span></button> </td>
          <td class="task-actor"><button mat-flat-button [class]="getActorColorClass(task)"><span [class]="getLineStatusClass(task)">{{ task.actor }}</span></button></td>
          <td class="task-estimate"><span [class]="getLineStatusClass(task)">{{ task.estimate }}</span></td>
      </tr>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container> 

<!--
    -->
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
